[submodule "third_party/ccls"]
	path = third_party/ccls
	url = https://github.com/MaskRay/ccls
	branch = master
[submodule "autoload/vim-plug"]
	path = autoload/vim-plug
	url = https://github.com/junegunn/vim-plug.git
	branch = master
[submodule "plugged/DoxygenToolkit.vim"]
	path = plugged/DoxygenToolkit.vim
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
	branch = master
[submodule "plugged/LeaderF"]
	path = plugged/LeaderF
	url = https://github.com/Yggdroot/LeaderF.git
	branch = master
[submodule "plugged/a.vim"]
	path = plugged/a.vim
	url = https://github.com/vim-scripts/a.vim.git
	branch = master
[submodule "plugged/asyncrun.vim"]
	path = plugged/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
	branch = master
[submodule "plugged/coc-neco"]
	path = plugged/coc-neco
	url = https://github.com/neoclide/coc-neco.git
	branch = master
[submodule "plugged/coc.nvim"]
	path = plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
	branch = master
[submodule "plugged/fzf"]
	path = plugged/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "plugged/gocode"]
	path = plugged/gocode
	url = https://github.com/mdempsky/gocode.git
	branch = master
[submodule "plugged/supertab"]
	path = plugged/supertab
	url = https://github.com/ervandew/supertab.git
	branch = master
[submodule "plugged/tabnine-vim"]
	path = plugged/tabnine-vim
	url = https://github.com/codota/tabnine-vim.git
	branch = master
[submodule "plugged/tabular"]
	path = plugged/tabular
	url = https://github.com/godlygeek/tabular.git
	branch = master
[submodule "plugged/vim-airline"]
	path = plugged/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	branch = master
[submodule "plugged/vim-airline-themes"]
	path = plugged/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "plugged/vim-codefmt"]
	path = plugged/vim-codefmt
	url = https://github.com/google/vim-codefmt.git
	branch = master
[submodule "plugged/vim-colorschemes"]
	path = plugged/vim-colorschemes
    url = git@github.com:niumeng07/vim-colorschemes.git
	branch = master
[submodule "plugged/vim-easymotion"]
	path = plugged/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	branch = master
[submodule "plugged/vim-fugitive"]
	path = plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "plugged/vim-glaive"]
	path = plugged/vim-glaive
	url = https://github.com/google/vim-glaive.git
	branch = master
[submodule "plugged/vim-go"]
	path = plugged/vim-go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule "plugged/vim-maktaba"]
	path = plugged/vim-maktaba
	url = https://github.com/google/vim-maktaba.git
	branch = master
[submodule "plugged/vim-polyglot"]
	path = plugged/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "plugged/vim-scala"]
	path = plugged/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
	branch = master
[submodule "plugged/vim-smooth-scroll"]
	path = plugged/vim-smooth-scroll
	url = https://github.com/terryma/vim-smooth-scroll.git
	branch = master
[submodule "plugged/vim-snippets"]
	path = plugged/vim-snippets
	url = git@github.com:niumeng07/vim-snippets.git
	branch = master
[submodule "plugged/vim-visual-multi"]
	path = plugged/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi.git
	branch = master
[submodule "plugged/vim-which-key"]
	path = plugged/vim-which-key
	url = https://github.com/liuchengxu/vim-which-key.git
	branch = master
[submodule "plugged/vim-floaterm"]
	path = plugged/vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
	branch = master
[submodule "plugged/neco-vim"]
	path = plugged/neco-vim
	url = https://github.com/Shougo/neco-vim.git
	branch = master
[submodule "third_party/bear"]
	path = third_party/bear
	url = https://github.com/rizsotto/Bear.git
	branch = master
[submodule "plugged/auto-pairs"]
	path = plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "plugged/copilot.vim"]
	path = plugged/copilot.vim
	url = https://github.com/github/copilot.vim.git
